In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('/kaggle/input/data-for-pandas-tutorial-for-beginners/data.csv')

In [3]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [4]:
df['Duration'][:5]

0    60
1    60
2    60
3    45
4    45
Name: Duration, dtype: int64

In [5]:
df[['Duration','Pulse']][:10]

   Duration  Pulse
0        60    110
1        60    117
2        60    103
3        45    109
4        45    117
5        60    102
6        60    110
7        45    104
8        30    109
9        60     98

In [6]:
df.Pulse.max()

159

In [7]:
df[df['Duration']==45]

     Duration  Pulse  Maxpulse  Calories
3          45    109       175     282.4
4          45    117       148     406.0
7          45    104       134     253.3
17         45     90       112       NaN
19         45     97       125     243.0
21         45    100       119     282.0
23         45    105       132     246.0
31         45     90       112     180.1
39         45    104       129     266.0
40         45     90       112     180.1
47         45    111       136     300.0
48         45    108       129     298.0
57         45    115       144     305.0
59         45    123       152     321.0
63         45    118       141     341.0
74         45    114       146     304.0
76         45    105       134     251.0
77         45    110       141     300.0
81         45    149       169     344.0
84         45    100       120     225.3
86         45    102       136     234.0
88         45    129       103     242.0
91         45    107       137       NaN
111        45    107       124     275.0
113        45    100       120     225.3
121        45    100       120     100.7
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
142        45    100       120     250.4
143        45    122       149     335.4
145        45    106       126     270.8
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9

In [8]:
df = df[(df['Duration']==45) & (df['Pulse']>110)]

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df.Pulse)

pandas.core.series.Series

In [11]:
df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [12]:
x = np.array([4,3,2,1])

In [13]:
z = np.argsort(x)

In [14]:
z

array([3, 2, 1, 0])

In [15]:
x[z]

array([1, 2, 3, 4])

In [16]:
# axis=1 is column and axis=0 is row

In [17]:
df.head()

    Duration  Pulse  Maxpulse  Calories
4         45    117       148     406.0
47        45    111       136     300.0
57        45    115       144     305.0
59        45    123       152     321.0
63        45    118       141     341.0

In [18]:
df.drop(['Maxpulse'],axis=1)
#remove Maxpulse in above dataframe using drop

     Duration  Pulse  Calories
4          45    117     406.0
47         45    111     300.0
57         45    115     305.0
59         45    123     321.0
63         45    118     341.0
74         45    114     304.0
81         45    149     344.0
88         45    129     242.0
136        45    117     317.7
137        45    115     318.0
138        45    113     308.0
143        45    122     335.4

In [19]:
x = df[1,'Duration'] = 65

In [20]:
x

65

In [21]:
df.head()

    Duration  Pulse  Maxpulse  Calories  (1, Duration)
4         45    117       148     406.0             65
47        45    111       136     300.0             65
57        45    115       144     305.0             65
59        45    123       152     321.0             65
63        45    118       141     341.0             65

In [22]:
df = df.iloc[:,:4]

In [23]:
df

     Duration  Pulse  Maxpulse  Calories
4          45    117       148     406.0
47         45    111       136     300.0
57         45    115       144     305.0
59         45    123       152     321.0
63         45    118       141     341.0
74         45    114       146     304.0
81         45    149       169     344.0
88         45    129       103     242.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
143        45    122       149     335.4

In [24]:
df.loc[:,['Duration','Pulse']]

     Duration  Pulse
4          45    117
47         45    111
57         45    115
59         45    123
63         45    118
74         45    114
81         45    149
88         45    129
136        45    117
137        45    115
138        45    113
143        45    122

In [25]:
df.loc[0,'Duration'] = 70

In [26]:
df

     Duration  Pulse  Maxpulse  Calories
4        45.0  117.0     148.0     406.0
47       45.0  111.0     136.0     300.0
57       45.0  115.0     144.0     305.0
59       45.0  123.0     152.0     321.0
63       45.0  118.0     141.0     341.0
74       45.0  114.0     146.0     304.0
81       45.0  149.0     169.0     344.0
88       45.0  129.0     103.0     242.0
136      45.0  117.0     143.0     317.7
137      45.0  115.0     137.0     318.0
138      45.0  113.0     138.0     308.0
143      45.0  122.0     149.0     335.4
0        70.0    NaN       NaN       NaN

In [27]:
df

     Duration  Pulse  Maxpulse  Calories
4        45.0  117.0     148.0     406.0
47       45.0  111.0     136.0     300.0
57       45.0  115.0     144.0     305.0
59       45.0  123.0     152.0     321.0
63       45.0  118.0     141.0     341.0
74       45.0  114.0     146.0     304.0
81       45.0  149.0     169.0     344.0
88       45.0  129.0     103.0     242.0
136      45.0  117.0     143.0     317.7
137      45.0  115.0     137.0     318.0
138      45.0  113.0     138.0     308.0
143      45.0  122.0     149.0     335.4
0        70.0    NaN       NaN       NaN

In [28]:
df.drop(['Duration'],axis=1,inplace=True)

In [29]:
df

     Pulse  Maxpulse  Calories
4    117.0     148.0     406.0
47   111.0     136.0     300.0
57   115.0     144.0     305.0
59   123.0     152.0     321.0
63   118.0     141.0     341.0
74   114.0     146.0     304.0
81   149.0     169.0     344.0
88   129.0     103.0     242.0
136  117.0     143.0     317.7
137  115.0     137.0     318.0
138  113.0     138.0     308.0
143  122.0     149.0     335.4
0      NaN       NaN       NaN

In [30]:
df.iloc[0,:]

Pulse       117.0
Maxpulse    148.0
Calories    406.0
Name: 4, dtype: float64

In [31]:
df.head(1)

   Pulse  Maxpulse  Calories
4  117.0     148.0     406.0

In [32]:
df.loc[(df.Maxpulse > 170) & (df.Calories < 250) & (df.Pulse > 150)]

Empty DataFrame
Columns: [Pulse, Maxpulse, Calories]
Index: []

In [33]:
df.isnull().sum()

Pulse       1
Maxpulse    1
Calories    1
dtype: int64

In [34]:
df[df['Calories'].isnull()]

   Pulse  Maxpulse  Calories
0    NaN       NaN       NaN

In [35]:
from sklearn.impute import SimpleImputer

In [36]:
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')

In [37]:
df.head(3)

    Pulse  Maxpulse  Calories
4   117.0     148.0     406.0
47  111.0     136.0     300.0
57  115.0     144.0     305.0

In [38]:
x = df.iloc[:,-1]

In [39]:
type(x)

pandas.core.series.Series

In [40]:
x = np.array(x)

In [41]:
type(x)

numpy.ndarray

In [42]:
x.shape

(13,)

In [43]:
x = x.reshape(-1,1)

In [44]:
x.shape

(13, 1)

In [45]:
imputer.fit(x)
x = imputer.transform(x)

In [46]:
x = pd.DataFrame(x)

In [47]:
x.columns = ['Calories']

In [48]:
x[x.Calories.isnull()]

Empty DataFrame
Columns: [Calories]
Index: []

In [49]:
df[df['Calories'].isnull()]

   Pulse  Maxpulse  Calories
0    NaN       NaN       NaN

In [50]:
df[df['Calories'].isnull()]

   Pulse  Maxpulse  Calories
0    NaN       NaN       NaN

In [51]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.nan,strategy='mean')

In [52]:
x = np.array(df.loc[:,'Calories'])

In [53]:
type(x)

numpy.ndarray

In [54]:
si.fit(x.reshape(-1,1))

SimpleImputer()

In [55]:
x = si.transform(x.reshape(-1,1))

In [56]:
df['New_Calories']=x

In [57]:
df.head(3)
df.drop(['Calories'], axis=1,inplace=True)

In [58]:
df.head(3)

    Pulse  Maxpulse  New_Calories
4   117.0     148.0         406.0
47  111.0     136.0         300.0
57  115.0     144.0         305.0

In [59]:
df.rename(columns={'New_Calories':'Calories'},inplace=True)

In [60]:
df.head(4)

    Pulse  Maxpulse  Calories
4   117.0     148.0     406.0
47  111.0     136.0     300.0
57  115.0     144.0     305.0
59  123.0     152.0     321.0

In [61]:
df[df['Calories'].isnull()]

Empty DataFrame
Columns: [Pulse, Maxpulse, Calories]
Index: []

In [62]:
df['Calories'].isnull().sum()

0

In [63]:
import pandas as pd
import numpy as np

In [64]:
dataset = pd.read_csv('/kaggle/input/housing-properties-in-maharashtra-big-cities/analysis_data.csv')
dataset.head()
dataset = dataset.drop(['locality_name','construction_status','house_type','total_rooms','total_beds','new_resale','age'],axis=1)

In [65]:
dataset.head()

  region_name      price  value_per_sqft  area
0      Nashik  8499000.0            3761  2260
1      Mumbai  6790000.0           13580   500
2        Pune  6030000.0            7811   773
3        Pune  3537000.0            7417   477
4      Mumbai  9500000.0           10359   917

In [66]:
grpBy = dataset.groupby('region_name')

In [67]:
for city,city_data in grpBy:
    print(city," -> ")
    print(city_data)

 Ahmednagar  ->
        region_name       price  value_per_sqft  area
1846     Ahmednagar   2300000.0            3538   650
58354    Ahmednagar   9700000.0            7760  1250
84549    Ahmednagar   5500000.0            5500  1000
84898    Ahmednagar   5500000.0            5500  1000
88164    Ahmednagar   5500000.0            5500  1000
89234    Ahmednagar   3000000.0            5357   560
101065   Ahmednagar   3790000.0            3790  1000
101132   Ahmednagar   3790000.0            3790  1000
149359   Ahmednagar   4000000.0            3636  1100
152533   Ahmednagar   2000000.0            4444   450
153285   Ahmednagar   1630000.0            3704   440
155244   Ahmednagar  30000000.0            6000  5000
156013   Ahmednagar   3500000.0            7559   463
157606   Ahmednagar   1250000.0            2380   525
157634   Ahmednagar   1250000.0            2380   525
169059   Ahmednagar   4000000.0            4581   873
171609   Ahmednagar   5500000.0            4583  1200
171637   Ahmednagar   1000000.0            1941   515
181087   Ahmednagar   4500000.0            8571   525
181339   Ahmednagar   4000000.0            4123   970
181377   Ahmednagar   2200000.0            4526   486
182231   Ahmednagar   5200000.0            5252   990
182592   Ahmednagar   6000000.0            6315   950
182846   Ahmednagar   4000000.0            4123   970
183631   Ahmednagar   4000000.0            4123   970
185024   Ahmednagar   2200000.0            4526   486
185294   Ahmednagar   6052000.0            3922  1543
185601   Ahmednagar   5200000.0            5252   990
186026   Ahmednagar   2600000.0            4126   630
186176   Ahmednagar   6000000.0            6315   950
186252   Ahmednagar   2600000.0            4126   630
186417   Ahmednagar   1600000.0            4000   400
187022   Ahmednagar   3200000.0            3809   840
187082   Ahmednagar   1750000.0            3333   525
187196   Ahmednagar   6200000.0            4133  1500
187551   Ahmednagar   6052000.0            3922  1543
187917   Ahmednagar   1100000.0            2231   493
188172   Ahmednagar   1100000.0            2231   493
189043   Ahmednagar   4080000.0            3437  1187
189223   Ahmednagar   6200000.0            4133  1500
189353   Ahmednagar   6200000.0            4133  1500
 Akola  ->
       region_name      price  value_per_sqft  area
155652       Akola  2500000.0            2857   875
155653       Akola  2500000.0            2857   875
157891       Akola  1500000.0            1818   825
157945       Akola  1500000.0            1818   825
165639       Akola  1400000.0            2153   650
165691       Akola  1400000.0            2153   650
165715       Akola  1400000.0            2153   650
166268       Akola  2300000.0            2787   825
175692       Akola  3600000.0            3000  1200
176991       Akola  3500000.0            3181  1100
177053       Akola  3500000.0            3181  1100
180753       Akola  2890000.0            3612   800
183549       Akola  3250000.0            3250  1000
183555       Akola  1000000.0            1428   700
183566       Akola  2890000.0            3612   800
185217       Akola  1500000.0            2500   600
185557       Akola  6000000.0            4137  1450
187044       Akola  3800000.0            4000   950
187581       Akola  1500000.0            1666   900
187867       Akola  8500000.0            5441  1562
188300       Akola  1500000.0            1666   900
188473       Akola  2400000.0            2823   850
189034       Akola  2400000.0            2823   850
189119       Akola  3800000.0            4000   950
 Alibaugh  ->
       region_name       price  value_per_sqft  area
2208      Alibaugh   9600000.0            7084  1355
14887     Alibaugh   8600000.0           11241   765
15208     Alibaugh   8500000.0           11805   720
15219     Alibaugh   8450000.0           11736   720
42888     Alibaugh   8500000.0            8095  1050
43129     Alibaugh   8500000.0            9803   867
140506    Alibaugh   3221000.0            4675   689
150124    Alibaugh  40000000.0           21621  1850
154902    Alibaugh  10000000.0            2325  4300
158479    Alibaugh   8000000.0            5333  1500
158547    Alibaugh  11000000.0            5365  2050
158647    Alibaugh  16200000.0            7200  2260
159149    Alibaugh   8000000.0            5333  1500
163545    Alibaugh  40000000.0            6153  6500
163569    Alibaugh  40000000.0            6153  6500
165740    Alibaugh  13000000.0            8333  1560
166686    Alibaugh   9500000.0            3392  2800
166721    Alibaugh   9500000.0            3392  2800
166729    Alibaugh   9500000.0            3392  2800
177078    Alibaugh   3700000.0            4625   800
180580    Alibaugh   5500000.0            4782  1150
187441    Alibaugh   2200000.0            4036   545
187527    Alibaugh   1798000.0            3575   503
188152    Alibaugh   2500000.0            4464   560
188161    Alibaugh   8000000.0            6477  1235
 Amravati  ->
       region_name       price  value_per_sqft  area
2112      Amravati   2950000.0            2809  1050
3082      Amravati   2800000.0            2731  1025
3154      Amravati   2800000.0            2731  1025
142421    Amravati   4500000.0            3461  1300
143051    Amravati   2400000.0            2526   950
143052    Amravati   1700000.0            3090   550
143802    Amravati   2400000.0            2400  1000
144413    Amravati   4000000.0            2857  1400
150126    Amravati   5500000.0            4230  1300
150589    Amravati   5000000.0            2688  1860
151644    Amravati   4500000.0            4090  1100
152903    Amravati   5000000.0            3333  1500
154042    Amravati   5000000.0            3333  1500
154087    Amravati   2900000.0            3052   950
154122    Amravati   5500000.0            3928  1400
155593    Amravati   3200000.0            3375   948
166196    Amravati   7200000.0            8000   900
166405    Amravati   1800000.0            3000   600
169050    Amravati   2000000.0            2352   850
171418    Amravati   4500000.0            3750  1200
172003    Amravati   2500000.0            2777   900
172219    Amravati   2500000.0            2777   900
174983    Amravati  12000000.0            3883  3090
176540    Amravati   3800000.0            3800  1000
176691    Amravati   3800000.0            3800  1000
177801    Amravati   3000000.0            3000  1000
178456    Amravati   3500000.0            2500  1400
178467    Amravati   3500000.0            2500  1400
179208    Amravati   9000000.0            6000  1500
180860    Amravati   5000000.0            2272  2200
181277    Amravati   7000000.0            3941  1776
182140    Amravati   3000000.0            2000  1500
182707    Amravati   7000000.0            3941  1776
184793    Amravati   5200000.0            4333  1200
185355    Amravati   2500000.0            3571   700
185356    Amravati   3750000.0            2884  1300
185438    Amravati   4400000.0            3209  1371
185514    Amravati   1800000.0            2250   800
185981    Amravati   3600000.0            4500   800
186883    Amravati   2300000.0            2555   900
187470    Amravati   5000000.0            6666   750
187585    Amravati   8500000.0            6538  1300
188304    Amravati   8500000.0            6538  1300
188797    Amravati   5000000.0            6666   750
190064    Amravati   3600000.0            4157   866
 Aurangabad  ->
        region_name       price  value_per_sqft  area
1629     Aurangabad   3500000.0            3747   934
1817     Aurangabad   7500000.0            4054  1850
1820     Aurangabad   7500000.0            4054  1850
2022     Aurangabad   2200000.0            2315   950
2108     Aurangabad   2650000.0            2789   950
...             ...         ...             ...   ...
189322   Aurangabad   2600000.0            4814   540
189484   Aurangabad   2600000.0            4000   650
189577   Aurangabad  11700000.0            8478  1380
190046   Aurangabad   1350000.0            3375   400
190076   Aurangabad  12500000.0            8928  1400

[154 rows x 4 columns]
 Baramati  ->
       region_name      price  value_per_sqft  area
181254    Baramati  4400000.0            2694  1633
183405    Baramati  4400000.0            2694  1633
185743    Baramati  4400000.0            2694  1633
187641    Baramati  3200000.0            3764   850
 Beed  ->
       region_name      price  value_per_sqft  area
185161        Beed  1600000.0            2909   550
 Bhandara  ->
       region_name       price  value_per_sqft  area
154813    Bhandara  15000000.0            3750  4000
154822    Bhandara   2200000.0            2750   800
154895    Bhandara   2200000.0            2750   800
171622    Bhandara   3800000.0            3166  1200
173806    Bhandara   6200000.0            4769  1300
178408    Bhandara   2800000.0            2947   950
182906    Bhandara   1650000.0            1650  1000
183864    Bhandara  15000000.0            3750  4000
183919    Bhandara  15000000.0            3750  4000
185122    Bhandara   1650000.0            1650  1000
186074    Bhandara   2600000.0            2166  1200
187915    Bhandara   4000000.0            1428  2800
187993    Bhandara   5300000.0            3028  1750
188247    Bhandara   5300000.0            3028  1750
 Buldana  ->
       region_name      price  value_per_sqft  area
166224     Buldana  4500000.0            2812  1600
166241     Buldana  4500000.0            2812  1600
 Chandrapur  ->
        region_name       price  value_per_sqft  area
2291     Chandrapur   9500000.0            5937  1600
2707     Chandrapur   2700000.0            2076  1300
2708     Chandrapur   2700000.0            2076  1300
2709     Chandrapur   2700000.0            2076  1300
2710     Chandrapur   2700000.0            2076  1300
2711     Chandrapur   2700000.0            2076  1300
146017   Chandrapur   3000000.0            2857  1050
146021   Chandrapur   3000000.0            2857  1050
146039   Chandrapur   3000000.0            2857  1050
146074   Chandrapur   1650000.0            1650  1000
154371   Chandrapur   1990000.0            1809  1100
154386   Chandrapur   1990000.0            1809  1100
179158   Chandrapur   4300000.0            2150  2000
179191   Chandrapur   1500000.0            1704   880
180101   Chandrapur   3700000.0            3122  1185
180735   Chandrapur   6500000.0            5416  1200
180921   Chandrapur   3500000.0            2500  1400
182934   Chandrapur   3700000.0            3122  1185
183124   Chandrapur   3700000.0            3122  1185
183493   Chandrapur   3500000.0            2500  1400
184967   Chandrapur   2200000.0            2037  1080
185259   Chandrapur   1900000.0            2111   900
186477   Chandrapur   3500000.0            2916  1200
186821   Chandrapur   3000000.0            3157   950
188154   Chandrapur   1600000.0            2000   800
188726   Chandrapur  13600000.0            9714  1400
189151   Chandrapur   1475000.0            2269   650
189544   Chandrapur   1500000.0            1500  1000
 Dhule  ->
       region_name      price  value_per_sqft  area
169300       Dhule  3351000.0            2577  1300
180149       Dhule  9540000.0            6360  1500
181609       Dhule  9000000.0            2777  3240
181688       Dhule  4000000.0            4444   900
181873       Dhule  4000000.0            4444   900
183726       Dhule  4000000.0            4444   900
185915       Dhule  4100000.0            2562  1600
187102       Dhule  6000000.0            5000  1200
188189       Dhule  6099000.0            4518  1350
189301       Dhule  6000000.0            5000  1200
 Hingoli  ->
       region_name       price  value_per_sqft  area
144883     Hingoli   3490000.0            3130  1115
158225     Hingoli   9000000.0            1363  6600
158706     Hingoli   8900000.0            7416  1200
174990     Hingoli   2350000.0            1958  1200
178792     Hingoli   7000000.0            4666  1500
178893     Hingoli   7000000.0            4666  1500
180393     Hingoli   1400000.0            3111   450
180738     Hingoli  14000000.0           10769  1300
182093     Hingoli  14000000.0           10769  1300
186033     Hingoli  14000000.0           10769  1300
186553     Hingoli   1400000.0            3111   450
 Jalgaon  ->
       region_name       price  value_per_sqft  area
1642       Jalgaon   5000000.0            2500  2000
2446       Jalgaon   2600000.0            3416   761
149160     Jalgaon   2100000.0            3925   535
152342     Jalgaon   3500000.0            6517   537
152841     Jalgaon    900000.0            1159   776
156253     Jalgaon   3500000.0            3684   950
156282     Jalgaon   3500000.0            3684   950
156740     Jalgaon   1800000.0            3272   550
157950     Jalgaon   3500000.0            4375   800
166680     Jalgaon   3100000.0            1550  2000
173996     Jalgaon   7800000.0            3120  2500
178184     Jalgaon   1800000.0            1945   925
180482     Jalgaon   4500000.0            3214  1400
180552     Jalgaon   4600000.0            3982  1155
181372     Jalgaon   5100000.0            4636  1100
181468     Jalgaon   4000000.0            2478  1614
182454     Jalgaon   6000000.0            4285  1400
183284     Jalgaon  15000000.0            9090  1650
183542     Jalgaon   3600000.0            2250  1600
184076     Jalgaon   1500000.0            1616   928
184618     Jalgaon    600000.0            1071   560
184697     Jalgaon   4600000.0            3982  1155
184848     Jalgaon   1500000.0            1616   928
184894     Jalgaon   4000000.0            4444   900
185065     Jalgaon  18000000.0            6923  2600
185505     Jalgaon   2500000.0            2617   955
185577     Jalgaon   6000000.0            4285  1400
185847     Jalgaon   1500000.0            1616   928
186749     Jalgaon   4000000.0            4444   900
187367     Jalgaon   2650000.0            4416   600
187772     Jalgaon   3000000.0            4285   700
187961     Jalgaon   8500000.0            5312  1600
188060     Jalgaon   6900000.0            4317  1598
188366     Jalgaon   6900000.0            4317  1598
189468     Jalgaon   3000000.0            4285   700
189573     Jalgaon   4500000.0            4736   950
 Jalna  ->
       region_name      price  value_per_sqft  area
152535       Jalna  1600000.0            2461   650
184881       Jalna  1000000.0            2222   450
189895       Jalna  9500000.0            3958  2400
 Kolhapur  ->
       region_name       price  value_per_sqft  area
1429      Kolhapur   1800000.0            3673   490
1444      Kolhapur   1800000.0            3673   490
1599      Kolhapur   2600000.0            3768   690
2578      Kolhapur   3800000.0            3800  1000
3115      Kolhapur  13000000.0            6500  2000
...            ...         ...             ...   ...
187553    Kolhapur   1600000.0            2666   600
187957    Kolhapur   3200000.0            5333   600
188690    Kolhapur   5200000.0            5777   900
189363    Kolhapur   4999000.0            4166  1200
189904    Kolhapur   3500000.0            4666   750

[88 rows x 4 columns]
 Latur  ->
       region_name      price  value_per_sqft  area
181169       Latur  7000000.0            4117  1700
181395       Latur  2900000.0            2230  1300
182380       Latur  7000000.0            4117  1700
182916       Latur  2900000.0            2230  1300
183236       Latur  7000000.0            4117  1700
185133       Latur  2900000.0            2230  1300
187017       Latur  6000000.0            1500  4000
190060       Latur  5100000.0            4047  1260
 Lonikand  ->
      region_name      price  value_per_sqft  area
88321    Lonikand  3400000.0            3400  1000
88334    Lonikand  3400000.0            3400  1000
88403    Lonikand  3600000.0            3188  1129
88410    Lonikand  3600000.0            3185  1130
94409    Lonikand  2600000.0            3504   742
94412    Lonikand  2600000.0            3504   742
99649    Lonikand  2200000.0            2497   881
 Mumbai  ->
       region_name       price  value_per_sqft  area
1           Mumbai   6790000.0           13580   500
4           Mumbai   9500000.0           10359   917
5           Mumbai   4621000.0            8575   539
9           Mumbai   2500000.0            5446   459
11          Mumbai  17500000.0           27821   629
...            ...         ...             ...   ...
191215      Mumbai   7800000.0           14552   536
191251      Mumbai   7500000.0           22522   333
191252      Mumbai  13500000.0           23397   577
191253      Mumbai   9499000.0           22352   425
191254      Mumbai   3800000.0            9268   410

[128073 rows x 4 columns]
 Nagpur  ->
       region_name       price  value_per_sqft  area
383         Nagpur   5100000.0            4304  1185
391         Nagpur   5971000.0            4118  1450
415         Nagpur   3015000.0            4500   670
418         Nagpur   3249000.0            3892   835
428         Nagpur   5258000.0            5600   939
...            ...         ...             ...   ...
191006      Nagpur   6300000.0            3315  1900
191007      Nagpur   6000000.0            4000  1500
191062      Nagpur   3800000.0            3304  1150
191120      Nagpur   3700000.0            4431   835
191125      Nagpur  11500000.0            6052  1900

[3187 rows x 4 columns]
 Nanded  ->
       region_name       price  value_per_sqft  area
157665      Nanded   9900000.0            6187  1600
180957      Nanded   3000000.0            4137   725
181716      Nanded   6000000.0            4761  1260
183020      Nanded   3000000.0            4137   725
188634      Nanded   9200000.0            6133  1500
189360      Nanded  18000000.0            8372  2150
 Nandurbar  ->
       region_name      price  value_per_sqft  area
185021   Nandurbar  2000000.0            4444   450
 Nashik  ->
       region_name       price  value_per_sqft  area
0           Nashik   8499000.0            3761  2260
7           Nashik   4499000.0            4797   938
13          Nashik  38900000.0            7500  5196
20          Nashik   8499000.0            3761  2260
27          Nashik   4499000.0            4797   938
...            ...         ...             ...   ...
189951      Nashik   2150000.0            4134   520
189990      Nashik  11000000.0            6084  1808
190075      Nashik  21000000.0            8400  2500
190135      Nashik  11000000.0            6084  1808
190884      Nashik   2150000.0            2945   730

[782 rows x 4 columns]
 Nasik  ->
       region_name      price  value_per_sqft  area
1557         Nasik  3150000.0            3247   970
2036         Nasik  2700000.0            3913   690
115727       Nasik  3500000.0            3684   950
154600       Nasik  4500000.0            3214  1400
154628       Nasik  4500000.0            3214  1400
157655       Nasik  4411000.0            4411  1000
157661       Nasik  4411000.0            2940  1500
171910       Nasik  4000000.0            4878   820
171938       Nasik  4000000.0            4878   820
181396       Nasik  2200000.0            3264   674
183690       Nasik  3600000.0            4500   800
184199       Nasik  4000000.0            4056   986
184314       Nasik  8300000.0            8691   955
185134       Nasik  2200000.0            3264   674
185195       Nasik  8300000.0            8691   955
185213       Nasik  2800000.0            2679  1045
186457       Nasik  3500000.0            4117   850
188021       Nasik  2500000.0            3164   790
188270       Nasik  2500000.0            3164   790
188946       Nasik  4000000.0            3902  1025
189590       Nasik  7000000.0            5833  1200
190043       Nasik  3200000.0            3902   820
 Osmanabad  ->
       region_name      price  value_per_sqft  area
181018   Osmanabad  2500000.0            2941   850
181630   Osmanabad  2500000.0            2941   850

In [68]:
grpBy.max()

                   price  value_per_sqft   area
region_name
 Ahmednagar   30000000.0            8571   5000
 Akola         8500000.0            5441   1562
 Alibaugh     40000000.0           21621   6500
 Amravati     12000000.0            8000   3090
 Aurangabad   90000000.0           16666  10000
 Baramati      4400000.0            3764   1633
 Beed          1600000.0            2909    550
 Bhandara     15000000.0            4769   4000
 Buldana       4500000.0            2812   1600
 Chandrapur   13600000.0            9714   2000
 Dhule         9540000.0            6360   3240
 Hingoli      14000000.0           10769   6600
 Jalgaon      18000000.0            9090   2600
 Jalna         9500000.0            3958   2400
 Kolhapur     18000000.0           10416   2250
 Latur         7000000.0            4117   4000
 Lonikand      3600000.0            3504   1130
 Mumbai      999900000.0          189898  20000
 Nagpur       75000000.0           46052   6000
 Nanded       18000000.0            8372   2150
 Nandurbar     2000000.0            4444    450
 Nashik       50000000.0           12500   6000
 Nasik         8300000.0            8691   1500
 Osmanabad     2500000.0            2941    850
 Parbhani      1600000.0            2909    575
 Pune        240000000.0           40000  12000
 Raigad       21000000.0           23333   7000
 Ratnagiri    15000000.0            7200   4000
 Sangli        9900000.0            6600   3700
 Satara       16000000.0            7142   5500
 Shirdi        1550000.0            2094    740
 Sindhudurg   40000000.0           11428   7000
 Solapur      31500000.0           38181   2500
 Vikramgad     5000000.0            3741   2000
 Wardha       15000000.0           10000   2100
 Yavatmal      9500000.0            7196   3000

In [69]:
dataset.head()

  region_name      price  value_per_sqft  area
0      Nashik  8499000.0            3761  2260
1      Mumbai  6790000.0           13580   500
2        Pune  6030000.0            7811   773
3        Pune  3537000.0            7417   477
4      Mumbai  9500000.0           10359   917

In [70]:
dataset[dataset['area'] > 12000]

       region_name        price  value_per_sqft   area
63710       Mumbai   80000000.0            5333  15000
135147      Mumbai  250000000.0           16666  15000
145593      Mumbai  750000000.0           43893  17087
145594      Mumbai  800000000.0           44603  17936
148602      Mumbai  500000000.0           31250  16000
148604      Mumbai  200000000.0           10526  19000
148606      Mumbai  500000000.0           26315  19000
148608      Mumbai  400000000.0           25000  16000
148615      Mumbai  400000000.0           25000  16000
177450      Mumbai  999900000.0           49999  20000
177454      Mumbai  999900000.0           49999  20000

In [71]:
d = dataset.iloc[0,0]

In [72]:
dataset[(dataset['region_name'] == ' Jalgaon') & (dataset['area'] >= 1500)]

       region_name       price  value_per_sqft  area
1642       Jalgaon   5000000.0            2500  2000
166680     Jalgaon   3100000.0            1550  2000
173996     Jalgaon   7800000.0            3120  2500
181468     Jalgaon   4000000.0            2478  1614
183284     Jalgaon  15000000.0            9090  1650
183542     Jalgaon   3600000.0            2250  1600
185065     Jalgaon  18000000.0            6923  2600
187961     Jalgaon   8500000.0            5312  1600
188060     Jalgaon   6900000.0            4317  1598
188366     Jalgaon   6900000.0            4317  1598

In [73]:
type(d)
d

' Nashik'

In [74]:
dataset.describe()

              price  value_per_sqft           area
count  1.912740e+05   191274.000000  191274.000000
mean   1.389354e+07    12191.690674    1000.162767
std    3.098177e+07     9506.747248     673.777787
min    2.200000e+05      600.000000     113.000000
25%    4.985000e+06     6306.000000     627.000000
50%    7.919500e+06     9300.000000     856.000000
75%    1.420000e+07    15384.000000    1140.000000
max    9.999000e+08   189898.000000   20000.000000

In [75]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191274 entries, 0 to 191273
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   region_name     191274 non-null  object
 1   price           191274 non-null  float64
 2   value_per_sqft  191274 non-null  int64
 3   area            191274 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.8+ MB

In [76]:
# This is about pandas to explore more refer Cheatsheet or Pandas.org official documentation